@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'GothicA1';
    src: url('../fonts/GothicA1-Regular.woff2') format('woff2'),
        url('../fonts/GothicA1-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('../fonts/TTHoves-Light.woff2') format('woff2'),
        url('../fonts/TTHoves-Light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('../fonts/TTHoves-Regular.woff2') format('woff2'),
        url('../fonts/TTHoves-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('../fonts/TTHoves-Medium.woff2') format('woff2'),
        url('../fonts/TTHoves-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('../fonts/TTHoves-DemiBold.woff2') format('woff2'),
        url('../fonts/TTHoves-DemiBold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('../fonts/TTHoves-Bold.woff2') format('woff2'),
        url('../fonts/TTHoves-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}